@model PersonalniePL.Models.Trener

@{
    ViewBag.Title = "Profil";
}

<h2>Profil</h2>

<div>
    <h4>Typ konta: Trener</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @if (Model.Avatar is null) {
            <p>Miejsce na twój Avatar</p>}
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wiek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wiek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LiczbaMaksPodopiecznych)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LiczbaMaksPodopiecznych)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numerkonta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numerkonta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj profil", "Edit", new { id = Model.ID }) 
</p>
