@model IEnumerable<PersonalniePL.Models.Cwiczenie>
@{ 
    Layout = null;
}
<h2>Lista ćwiczeń: </h2>
<br />
    <table class="table">
        <tr>
      
           
            <th>
                @Html.DisplayNameFor(model => model.NazwaCwiczenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IloscSerii)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZakresPowtorzen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CzasPrzerwy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SkalaRpes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoPracy)
            </th>
            
        </tr>
    
    @foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.NazwaCwiczenia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IloscSerii)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZakresPowtorzen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CzasPrzerwy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkalaRpes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempoPracy)
        </td>
        @if (User.IsInRole("Admin"))
        {
            <td> @Html.ActionLink("Usun ćwiczenie", "Delete", new { id = item.Id })</td>
        }
    </tr>
    }
    
    </table>

